@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.instrument-serif {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.instrument-serif-bold {
  font-family: "Instrument Serif", serif;
  font-weight: 900;
  font-style: normal;
}

.instrument-serif-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.instrument-serif-italic-bold {
  font-family: "Instrument Serif", serif;
  font-weight: 900;
  font-style: italic;
}
